
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-header-start -->
<div class="slider">
    <div class="owl-carousel slider">
        <div class="item">
            <div class="slider-img">
                <img src="~/Assets/images/slider-1.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-captions center">
                            <h1 class="slider-title arb">نظافة الهود والمداخن </h1>
                            <p class="slider-text hidden-xs arb">Clean chimneys</p>
                            <a href="@Url.Action("Index", "servicesDetailOne")" class="btn btn-default btn-lg hidden-sm hidden-xs arb">تصفح خدماتنا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img">
                <img src="~/Assets/images/slider-2.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                        <div class="slider-captions center">
                            <h1 class="slider-title arb">النظافة العامة والشاملة </h1>
                            <p class="slider-text hidden-xs arb">Housekeeping</p>
                            <a href="@Url.Action("Index", "servicesDetailTwo")" class="btn btn-default btn-lg hidden-sm hidden-xs arb">تصفح خدماتنا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img">
                <img src="~/Assets/images/slider-3.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                        <div class="slider-captions center">
                            <h1 class="slider-title arb">نظافة الوجهات الزجاجية</h1>
                            <p class="slider-text hidden-xs arb">Clean the glass wall</p>
                            <a href="@Url.Action("Index", "servicesDetailThree")" class="btn btn-default btn-lg hidden-sm hidden-xs arb">تصفح خدماتنا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img">
                <img src="~/Assets/images/slider-4.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                        <div class="slider-captions center">
                            <h1 class="slider-title arb">العناية بالمسطحات الخضراء و تأسيس البرجولات</h1>
                            <p class="slider-text hidden-xs arb">Land Escape</p>
                            <a href="@Url.Action("Index", "servicesDetailFour")" class="btn btn-default btn-lg hidden-sm hidden-xs arb">تصفح خدماتنا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img">
                <img src="~/Assets/images/slider-5.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                        <div class="slider-captions center">
                            <h1 class="slider-title arb">مكافحة الحشرات والأفات والقوارض</h1>
                            <p class="slider-text hidden-xs arb">Pest control </p>
                            <a href="@Url.Action("Index", "servicesDetailFive")" class="btn btn-default btn-lg hidden-sm hidden-xs arb">تصفح خدماتنا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- service-start -->
<div class="space-medium">
    <div class="container">
        <div class="row arb" dir="rtl">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="mb30">
                    <div class="service-img mb30">
                        <img src="~/Assets/images/Services/single/2.jpg" alt="" class="img-responsive">
                    </div>
                    <p class="lead arb">
                        النظافة العامة والشاملة للشركات والمصانع والمنازل
                    </p>
                    <p>
                        شركة فاست سيرفيس شركة متخصصة فى خدمات نظافة المنشآت حيث توفر للعديد من عملاؤها خدمة نظافة وصيانة منشأتهم على درجة ومستوى
                        عالى من الخدمة من حيث النظافة والشكل الجمالى الرائع، فان النظافة الشاملة للمكان اهم ما يميزه،
                        سواء الأرضيات أو الحوائط والسيراميك والرخام والسجاد والأنتريهات...إلخ
                    </p>
                    <p>
                        وكل هذا يتم من خلال أكبر فريق تنظيف محترف وتتوافر فيه العديد من المواصفات المهنية الرائعة كالأمانه والإحتراف والسرعة .

                    </p>
                    <p>
                        <b>خدمات النظافة الشاملة التي تقدمها الشركة :</b>
                    </p>
                    <p>
                        • تولي مسؤلية النظافة الشاملة للشركات بصفة دورية سواء يوميا او أسبوعيا أو شهريا .
                    </p>
                    <p>
                        • تنظيف جميع الواجهات الزجاجية والرخامية مهما كان الأرتفاع .
                    </p>
                    <p>
                        • تنظيف جميع أنواع الأرضيات سواء سيراميك أو رخام وجرانيت أو باركيه بأحدث المعدات .
                    </p>
                    <p>
                        • تنظيف جمبع أنواع السجاد والموكيت والستائر والأنتريهات .
                    </p>
                    <p>
                        • التعاقد مع الشركات وأصحاب المنازل والأبراج السكنية بتولي مسؤلية النظافة بعد التشطيب وايضا النظافة الدورية .
                    </p>
                </div>
                <hr>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="sidenav">
                    <ul class="arrow arrow-right">
                        <li class="">
                            <a href="@Url.Action(" Index", "servicesDetailOne" )" style="padding-right:20px">نظافة اجهزة الهود والمداخن الخاصة بالمطاعم ومطابخ الفنادق</a>
                        </li>
                        <li class="">
                            <a href="@Url.Action(" Index", "servicesDetailTwo" )" style="padding-right:20px">النظافة العامة والشاملة للشركات والمصانع والمنازل </a>
                        </li>
                        <li class="">
                            <a href="@Url.Action(" Index", "servicesDetailThree" )" style="padding-right:20px">نظافة الوجهات الزجاجية للشركات والبنوك والمستشفيات</a>
                        </li>
                        <li class="">
                            <a href="@Url.Action(" Index", "servicesDetailFour" )" style="padding-right:20px">
                                تنسيق الحدائق والعناية بالمسطحات الخضراء و تأسيس البرجولات الخشبية للفلل والحدائق العامة
                                علي الترز القديم والحديث
                            </a>
                        </li>
                        <li class="active">
                            <a href="@Url.Action(" Index", "servicesDetailFive" )" style="padding-right:20px">مكافحة الحشرات والأفات والقوارض</a>
                        </li>
                    </ul>
                </div>

                <div class="widget-cta">
                    <div class="widget-cta-content">

                        <p>تواصل معنا الأن</p>
                        <a href="@Url.Action(" Index", "contactus" )" class="btn btn-default btn-sm arb">تواصل الأن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-close -->
