@using System.Web.UI.WebControls
@model FastService.prod.ViewModels.ContactVm

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page-header-start -->
<div class="page-header">
    <div class="container">
        <div class="row center">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title arb">اتصل بنا</h1>
                    <p class="page-text arb">لا تتردد في الاتصال بنا ، إن فريقنا متحمس لمقابلتك ومعرفة كيف يمكننا مساعدتك </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-block">
                    <div class="contact-info">
                        <i class="fa fa-map-marker"></i>
                        <h4 class="contact-info-title arb">العنوان</h4>
                        <p>1250 Cairo, -Egypt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-block">
                    <div class="contact-info">
                        <i class="fa fa-phone"></i>
                        <h4 class="contact-info-title arb">اتصل بنا</h4>
                        <p>
                            <strong class="text-primary">+2 010-2774-0113 / +20-114-7858-512</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-block">
                    <div class="contact-info">
                        <i class="fa fa-envelope-open"></i>
                        <h4 class="contact-info-title arb">الايميل</h4>
                        <p>Mile-fastservic7@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30" dir="rtl">
                    <div class="contact-form">
                        <h1 class="arb">ابقى على تواصل معنا</h1>
                        <p class="mb40 arb">سنبذل قصارى جهدنا للرد في أقرب وقت ممكن .</p>
                        <div class="row arb">
                            @using (Html.BeginForm("Index", "Contactus", FormMethod.Post))
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name, new { @class = "control-label sr-only" })
                                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "الاسم", required = "required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "control-label sr-only" })
                                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "ايميل", required = "required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Phone2, new { @class = "control-label sr-only" })
                                        @Html.EditorFor(m => m.Phone2, new { htmlAttributes = new { @class = "form-control", placeholder = "رقم موبيل تانى", required = "required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Phone1, new { @class = "control-label sr-only" })
                                        @Html.EditorFor(m => m.Phone1, new { htmlAttributes = new { @class = "form-control", placeholder = "رقم موبيل اول", required = "required" } })
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Message, new { @class = "control-label sr-only" })
                                        @Html.EditorFor(m => m.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "نص الرساله", required = "required" } })
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button class="btn btn-primary arb">ارسال الرسااله</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- map-start -->
        <div>
            <div id="contact-map"></div>
        </div>
        <!-- map-close -->
    </div>
</div>
